[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rpredictit"]
	path = rpredictit
	url = https://github.com/danielkovtun/rpredictit
[submodule "shinyNotes"]
	path = shinyNotes
	url = https://github.com/danielkovtun/shinynotes
